body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

button {
    margin: 8px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.answer-btn {
    display: block;
    width: 100%;
    background: #334155;
    color: white;
}

.answer-btn:hover {
    background: #475569;
}

.correct {
    background-color: #16a34a !important;
}

.wrong {
    background-color: #dc2626 !important;
}

#nextBtn {
    margin-top: 15px;
    background: #2563eb;
    color: white;
}
